@import url(variables.css);
@import url(estilosGenericos.css);
@import url(estilosDesktop.css);

body {
  display: flex;
  /*poner todo en forma de columnas*/
  flex-direction: column;
  padding: 16px;
  gap: 24px;
  background-color: var(--bg-beige);
}

/*HEADER*/

.header {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-radius: var(--bd-radius1);
  background-color: white;
}

.header__section1 {
  background-image: url("../images/fotoPerfil.jpeg");
  width: 340px;
  height: 340px;
  background-position: center -40px;
  border-radius: var(--bd-radius1);
  align-self: center;
  background-repeat: no-repeat;
}

.header__section1--img {
  border-radius: var(--bd-radius1);
}

.header__section2 {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.headerDiv1__div1--span {
  color: var(--bg-grisMedio);
}

.header__section2--div1 {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.headerDiv1__div1,
.headerDiv1__div2 {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.headerDiv2__p2 {
  display: none;
}

.headerDiv2__p1,
.headerDiv2__p2 {
  color: var(--bg-grisMedio);
}

/* MAIN */
.main {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.main__section1,
.main__section2,
.main__section3,
.main__section4,
.main__section5,
.main__section6 {
  background-color: white;
  border-radius: var(--bd-radius1);
}

.main__section1 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: var(--bg-beige);
  order: 1;
}

.main__section1--div1,
.main__section1--div2,
.main__section1--div3,
.main__section1--div4 {
  background-color: white;
  border-radius: var(--bd-radius1);
  padding: 16px;
}

.main__section1--div1 {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.section2Div__div--div {

}

.section2Div{

}

.section2DivDiv2__h3{

}

.mainDiv1__div {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: auto auto auto auto;
  row-gap: 8px;
  color: var(--bg-grisMedio);
}

.range1,
.range2,
.range3,
.range4 {
  align-self: center;
  height: 30%;
  display: grid;

  grid-row: auto;
  background: var(--bg-grisClaro);
}
.range1 {
  grid-template-columns:
    95%
    auto;
}

.range2 {
  grid-template-columns: 80% auto;
}

.range3 {
  grid-template-columns: 90% auto;
}

.range4 {
  grid-template-columns: 80% auto;
}

.range1__div,
.range2__div,
.range3__div,
.range4__div {
  width: auto;
  height: auto;
  background-color: var(--bg-celeste);
}

.main__section5 {
  order: 2;
}

.main__section5--div {
  display: flex;
  flex-direction: column;
  padding: 16px;
  row-gap: 32px;
}

.mainDiv__div {
  display: flex;
  justify-content: space-between;
}

/*BOTONES*/
.mainDiv__div--button,
.footer__section--button,
.section6Div1__div3--button,
.section6Div2__div3--button,
.section6Div3__div3--button,
.section3Div__div3--button {
  font-family: "Montserrat", sans-serif;
  color: var(--bg-grisOscuro);
  background-color: white;
  padding: 16px;
  border-radius: var(--bd-radius1);
  cursor: pointer;
  border: 2px solid var(--bg-grisOscuro);
}

.section6Div1__div3--button,
.section6Div2__div3--button,
.section6Div3__div3--button,
.section3Div__div3--button {
  padding: 12px 43.5px;
}

.footer__section--button:hover,
.mainDiv__div--button:hover,
.section6Div1__div3--button:hover,
.section6Div2__div3--button:hover,
.section6Div3__div3--button:hover,
.section3Div__div3--button:hover {
  border-color: var(--bg-celeste);
  color: var(--bg-celeste);
}

.footer__section--button:active,
.mainDiv__div--button:active,
.section6Div1__div3--button:active,
.section6Div2__div3--button:active,
.section6Div3__div3--button:active,
.section3Div__div3--button:active {
  border-color: var(--bg-celeste);
  background-color: var(--bg-celeste);
  color: white;
}

.main__section2--div {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

.section2Div {
  color: var(--bg-grisOscuro);
}

.section2DivDiv1__h3,.section2DivDiv2__h3,.section2DivDiv3__h3{
  color: black;
}

.section2DivDiv1__div1,
.section2DivDiv2__div1,
.section2DivDiv3__div1 {
  padding: 0 20px;
  border: 1px solid var(--bg-grisClaro);
  border-radius: var(--bd-radius1);
}

.section2DivDiv1__span,
.section2DivDiv2__span,
.section2DivDiv3__span {
  color: var(--bg-grisMedio);
}

.section2DivDiv1,
.section2DivDiv2,
.section2DivDiv3 {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.section2Div__div {
  align-self: center;
}

.section2DivDiv1__div,
.section2DivDiv2__div,
.section2DivDiv3__div {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.section2DivDiv2,
.section2DivDiv3 {
  display: none;
}

.main__section3 {
  order: 5;
}

.main__section6 {
  order: 3;
}

.main__section2 {
  order: 5;
}
.main__section4 {
  order: 4;
}

.mainDiv1__h2,
.mainDiv__h2 {
  color: var(--bg-grisOscuro);
}

/*FOOTER*/
.footer {
  display: flex;
  justify-content: center;
}

.footer__section--button {
  padding: 8px;
  gap: 10px;
  border-radius: var(--bd-pag);
}

.main__section6,
.main__section3 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: var(--bg-beige);
}

.section6Div1__div1--img,
.section6Div2__div1--img,
.section6Div3__div1--img {
  border-radius: var(--bd-radius1);
  border: 1px solid var(--bg-grisClaro);
}

.main__section6--div,
.main__section3--div {
  background-color: white;
  padding: 16px;
  border-radius: var(--bd-radius1);
  display: flex;
  flex-direction: column;
  gap: 16px;
}
/*imagenes*/

.section2DivDiv1__div1--img,
.section2DivDiv2__div1--img,
.section2DivDiv3__div1--img {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.section6Div1__div1,
.section6Div2__div1,
.section6Div3__div1,
.section3Div__div1,
.section2DivDiv1__div1--img,
.section2DivDiv2__div1--img,
.section2DivDiv3__div1--img {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.section6Div1__div1,
.section6Div2__div1,
.section6Div3__div1,
.section3Div__div1 {
  border-radius: var(--bd-radius1);
}

.section6Div2,
.section6Div3 {
  display: none;
}

.section6Div1__div2,
.section6Div2__div2,
.section6Div3__div2,
.section3Div__div2 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 8px 0;
}

.section6Div1__div3,
.section6Div2__div3,
.section6Div3__div3,
.section3Div__div3 {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.section6Div1__p,
.section6Div2__p,
.section6Div3__p,
.section3Div__p {
  color: var(--bg-grisMedio);
}

.section6Div1__div2--span,
.section6Div2__div2--span,
.section6Div3__div2--span,
.section3Div__div2--span {
  color: var(--bg-grisOscuro);
}

.main__section4 {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 16px;
}

.main__section4--div {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
  gap: 16px;
}

.main__section4--h3{
  color: var(--bg-grisOscuro);
}

.section4__div1,
.section4__div2 {
  display: flex;
  padding: 8px;
  border: 1px solid var(--bg-grisMedio);
  border-radius: var(--bd-radius1);
}

.section4__div1--div,
.section4__div1--p,
.section4__div2--div,
.section4__div2--p {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 50%;
  margin: 15% 0;
  justify-content: center;
}

/*adidas*/
.section4Div2__div1,
.section4Div1__div1 {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.section4Div1__div2,
.section4Div2__div2 {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.section4__div2--p,
.section4Div2__div2--span,
.section4__div1--p,
.section4Div1__div2--span {
  color: var(--bg-grisMedio);
}

.section4__div2 {
  display: none;
}

.footer {
  display: none;
}

.main__section3 {
  display: none;
}
.section6Div3__p {
}


@media (max-width: 818px) {
  
  .section6Div1__div1 {
    border: 1px solid var(--bg-grisClaro);
    border-radius: var(--bd-radius1);
  }

  .section6Div1__div1--img {
    border: none;
  }
}

@media (max-width: 441px) {
  .mainDiv__div {
    flex-wrap: wrap;
    row-gap: 16px;
  }
}

@media (max-width: 336px) {
  .section6Div1__div3 {
    flex-wrap: wrap;
    row-gap: 16px;
  }
}

@media (max-width: 404px) {
  .header__section1 {
    width: 100%;
    background-position: center -40px;
  }
}
